.main-footer {
  border-radius: $corner-l $corner-l 0 0;
  margin-top: rem(-60px) !important;
  position: relative;
  text-align: center;
  z-index: 1;

  * {
    @extend %reset-transition;
    background-color: transparent;
  }

  &__left{
    * {
      text-align: center;
      @include from(l) {
        text-align: left;
      }
    }

    .logo__link {
      img{
        margin: auto;
        width: rem(120px);

        @include from(l){
          width: rem(130px);
        }
      }
    }
  }

  &__center{
    .logo__link {
      img{
        margin: auto;
        width: rem(250px);

        @include from(l){
          width: rem(350px);
        }
      }
    }
  }

  &__right{
    * {
      text-align: center;

      @include from(l) {
        text-align: right;
      }
    }
  }

  .nav-item {
    margin-bottom: space(.45);
  }

  .nav-link {
    font-weight: bold;
    display: inline;
    padding: 0;
    transition: all .32s ease-in-out;

    &:hover, &:active, &:focus {
      color: $green-lt;
    }
  }

  .block-basic {
    &, * {
      @extend %body-s;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  }
}
