.banner-50 {
  &__image {
    img{
      object-fit: cover;
    }
  }
  &__content {
    padding: space(2) space(1);

    @include from(s){
      padding: space(2);
    }

    @include from(l){
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-inner {
      @include from(l) {
        max-width: rem(750px);
      }
    }
  }
}


