.banner-full{
  $self: &;
  @include background-cover;
  background-color: transparent;
  height: rem(400px);
  margin:0;
  margin-bottom: rem(-30px);
  width: 100%;
  z-index: 999;

  @include from(s){
    height: rem(450px);
  }


  .container {
    @include from(s) {
      padding: 0 !important;
    }
  }

  &__title{
    h2{
      text-wrap: balance;
      max-width: rem(700px);
    }
  }
}
