.block-video {
  .block-video__wrapper {
    position: relative;
    border: rem(7px) solid black;

    @include fluid-aspect(4 3); 
    @include from(m){
      @include fluid-aspect(10 6);
      margin: 0 auto;
    }
    @include from(l){
      @include fluid-aspect(16 9);
      max-width: rem(1000px);
    }
    @include from(xl){
      @include fluid-aspect(16 9);
      max-width: 90%;

    }

    video, iframe {
      @include cover-absolute;
      @include square(100%);
    }
  }
}
