.contact-layout {
  background-color: $alabaster;
  padding: rem(30px) 0;

  @include from(l) {
    padding: rem(80px) 0;
  }

  &__intro {
    padding-bottom: rem(30px);
    text-align: center;

    @include from(l) {
      padding-bottom: rem(80px);
    }

    a {
      color: $orange;
    }
  }

  &__title {
    margin-bottom: rem(20px);

    @include from(l) {
      margin-bottom: rem(30px);
    }
  }

  &__image {
    @include fluid-aspect(1 1);
    margin-bottom: rem(20px);
    width: 100%;

    @include from(l) {
      margin-bottom: rem(30px);
    }


    img {
      border-radius: rem(40px);
      width: 100%;
    }
  }

  &__item {
    margin-bottom: rem(40px);

    a {
      color: $orange;
    }

    > div {
      align-items: center;
      display: flex;
      gap: rem(20px);

      &:before {
        content: '';
        display: block;
        height: rem(37px);
        width: rem(37px);
      }
    }
  }

  &__phone {
    &:before {
      background-image: url('../img/icons/phone.png');
    }
  }

  &__mail {
    &:before {
      background-image: url('../img/icons/email.png');
    }
  }

  &__location {
    &:before {
      background-image: url('../img/icons/location.png');
    }
  }
}
