
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

html{
  @extend %scroll-bar;
}

body {
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: $header_height_m !important;

  @include from(l) {
    padding-top: $header_height_l !important;
  }
}

.region-sidebar-first, .region-sidebar-second, .region-footer, .region-content {
  padding: 0 !important;
}

h1, nav[aria-label="breadcrumb"]{
  display: none;
}

%section-padding, .section-padding{
  padding: space(2) 5vw space(2.5);

  @include from(s) {
    padding: space(2.5) 10vw space(3);
  }
  @include from(m) {
    padding: space(2.5) 0 space(3);
  }
  @include from(l) {
    padding: space(3.25) 0 space(3.5);
  }
}

section,
footer,
nav {
  background-color: $white;
}

ul {
  list-style: none;
  padding-left: 0;
}

input,
textarea {
  &::placeholder {
    color: gray;
  }

  &:active {
    &::placeholder {
      color: gray;
    }
  }
}

input[type="number"] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

%reset-appearance {
  background: none;
  border: none;
  text-decoration: none;
  white-space: nowrap;
}

button {
  @extend %reset-appearance;
}

.container {
  @include  up-to(s) {
    padding-left: space(1) !important;
    padding-right: space(1) !important;
  }
}

