@mixin width($size){
  max-width: $size;
  min-width: $size;
  width: $size;
}
@mixin rectangle($width, $height){
  height: $height;
  max-height: $height;
  max-width: $width;
  min-height: $height;
  min-width: $width;
  width: $width;
}
@mixin square($size){
  @include rectangle($size, $size);
}
@mixin circle($size){
  border-radius: 50%;
  @include square($size);
}
@mixin variant($prefix, $property, $variants) {
  @each $key, $value in $variants {
    *[class*="#{$prefix}-#{$key}"]:not(.root) {
      #{$property}:#{$value};
    }
  }
}
@mixin variant-self($prefix, $property, $variants) {
  @each $key, $value in $variants {
    &[class*="#{$prefix}-#{$key}"]:not(.root) {
      #{$property}:#{$value};
    }
  }
}
@mixin variant-all($prefix, $property, $variants) {
  @each $key, $value in $variants {
    *[class*="#{$prefix}-#{$key}"]:not(.root) {
      &, *{ #{$property}:#{$value}; }
    }
  }
}



