.banner-full + section, .main-slider + section, .layout__region--content > *:last-child {
  border-color: transparent;
  @include variant-self("bg", border-color, $variant-color);
}

.banner-full + section, .main-slider + section {
  border-top-style: solid;
  border-top-width: $corner-m;
}

.layout__region--content > *:last-child {
  border-bottom-style: solid;
  border-bottom-width: $corner-l;
}
