*[class*="bg-"] {
  .carousel-dots{
    .slick-dots {
      button{
        background-color: rgba($white, 0.4);
      }
      .slick-active {
        button {
          background-color: $white;
        }
      }
    }
  }
}

*[class*="bg-alabaster"], *[class*="bg-white"], *[class*="bg-clean"]{
  .carousel-dots{
    .slick-dots {
      button{
        background-color: rgba($green, 0.4);
      }
      .slick-active {
        button {
          background-color: $green;
        }
      }
    }
  }
}

