::view-transition-old(exit),
::view-transition-new(exit) {
  animation-duration: .5s; }

::view-transition-old(exit) {
  animation-name: fadeOutScale; }

::view-transition-new(exit) {
  animation-name: fadeIn; }

@keyframes show-scroll {
  from {
    opacity: 0;
    position: relative;
    top: 100px; }
  to {
    opacity: 1;
    position: relative;
    top: 0; } }

@keyframes parallax-content {
  from {
    position: relative;
    top: 100px; }
  to {
    position: relative;
    top: -10px; } }

.reset-transition, .main-footer * {
  animation-name: none !important; }

.transition-scroll > *, .article__text > * {
  animation-fill-mode: both;
  animation-name: show-scroll;
  animation-range: entry 0% cover 30%;
  animation-timeline: --section;
  view-timeline-axis: block;
  view-timeline-name: --section; }

.transition-parallax-content {
  animation-fill-mode: both;
  animation-name: parallax-content;
  animation-range: entry 0% cover 50%;
  animation-timeline: --section;
  view-timeline-axis: block;
  view-timeline-name: --section; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  animation: fadeIn .3s ease-in forwards; }

@keyframes fadeInScale {
  0% {
    opacity: 0;
    scale: 80%; }
  100% {
    opacity: 1;
    scale: 100%; } }

.fade-in-scale {
  animation: fadeInScale .3s ease-in forwards; }

@keyframes fadeOutScale {
  0% {
    opacity: 1;
    scale: 100%; }
  100% {
    opacity: 0;
    scale: 80%;
    display: none; } }

.fade-out-scale {
  animation: fadeOutScale .3s ease-out forwards; }

@keyframes slideUp {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100%); } }

.slide-up {
  animation: slideUp .3s ease-out forwards; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

.slide-down {
  animation: slideDown .3s ease-out forwards; }

html:not(.root) {
  font-size: 14px; }

.h4:not(.root), .h4:not(.root) *, h4:not(.root), .block-filter h2, .h3:not(.root), .h3:not(.root) *, h3:not(.root), .block-form .form-item label, .card__body, .card__body > *:not(.root), .main-footer .block-basic, .main-footer .block-basic *, .body-s, .body-s *, p, ul:not(.root), ol:not(.root), div, .body, .body *, .h2:not(.root), .h2:not(.root) *, h2:not(.root), body .button-secondary, body .button-header, body .block-form .webform-button--submit, .block-form body .webform-button--submit, body .button-primary, body .button-tertiary, .block-filter .form-select, .block-filter .form-wrapper input, .button-text, .button-text *, .intro-text__title, .h1:not(.root), .h1:not(.root) *, h1:not(.root) {
  color: #0B6546;
  font-family: "Red Hat Display", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  text-wrap: balance; }
  @media only screen and (min-width: 992px) {
    .h4:not(.root), .h4:not(.root) *, h4:not(.root), .block-filter h2, .h3:not(.root), .h3:not(.root) *, h3:not(.root), .block-form .form-item label, .card__body, .card__body > *:not(.root), .main-footer .block-basic, .main-footer .block-basic *, .body-s, .body-s *, p, ul:not(.root), ol:not(.root), div, .body, .body *, .h2:not(.root), .h2:not(.root) *, h2:not(.root), body .button-secondary, body .button-header, body .block-form .webform-button--submit, .block-form body .webform-button--submit, body .button-primary, body .button-tertiary, .block-filter .form-select, .block-filter .form-wrapper input, .button-text, .button-text *, .intro-text__title, .h1:not(.root), .h1:not(.root) *, h1:not(.root) {
      font-size: 3rem; } }

.h4:not(.root), .h4:not(.root) *, h4:not(.root), .block-filter h2, .h3:not(.root), .h3:not(.root) *, h3:not(.root), .block-form .form-item label, .card__body, .card__body > *:not(.root), .main-footer .block-basic, .main-footer .block-basic *, .body-s, .body-s *, p, ul:not(.root), ol:not(.root), div, .body, .body *, .h2:not(.root), .h2:not(.root) *, h2:not(.root) {
  font-size: 1.9375rem; }
  @media only screen and (min-width: 992px) {
    .h4:not(.root), .h4:not(.root) *, h4:not(.root), .block-filter h2, .h3:not(.root), .h3:not(.root) *, h3:not(.root), .block-form .form-item label, .card__body, .card__body > *:not(.root), .main-footer .block-basic, .main-footer .block-basic *, .body-s, .body-s *, p, ul:not(.root), ol:not(.root), div, .body, .body *, .h2:not(.root), .h2:not(.root) *, h2:not(.root) {
      font-size: 2.5rem; } }

.h4:not(.root), .h4:not(.root) *, h4:not(.root), .block-filter h2, .h3:not(.root), .h3:not(.root) *, h3:not(.root) {
  font-size: 1.25rem; }
  @media only screen and (min-width: 992px) {
    .h4:not(.root), .h4:not(.root) *, h4:not(.root), .block-filter h2, .h3:not(.root), .h3:not(.root) *, h3:not(.root) {
      font-size: 1.5rem; } }

.h4:not(.root), .h4:not(.root) *, h4:not(.root) {
  font-size: 1.125rem; }
  @media only screen and (min-width: 992px) {
    .h4:not(.root), .h4:not(.root) *, h4:not(.root) {
      font-size: 1.375rem; } }

body .button-secondary, body .button-header, body .block-form .webform-button--submit, .block-form body .webform-button--submit, body .button-primary, body .button-tertiary, .block-filter .form-select, .block-filter .form-wrapper input, .button-text, .button-text * {
  cursor: pointer;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none; }
  @media only screen and (min-width: 992px) {
    body .button-secondary, body .button-header, body .block-form .webform-button--submit, .block-form body .webform-button--submit, body .button-primary, body .button-tertiary, .block-filter .form-select, .block-filter .form-wrapper input, .button-text, .button-text * {
      font-size: 1.25rem; } }

.block-form .form-item label, .card__body, .card__body > *:not(.root), .main-footer .block-basic, .main-footer .block-basic *, .body-s, .body-s *, p, ul:not(.root), ol:not(.root), div, .body, .body * {
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  text-wrap: initial; }
  @media only screen and (min-width: 992px) {
    .block-form .form-item label, .card__body, .card__body > *:not(.root), .main-footer .block-basic, .main-footer .block-basic *, .body-s, .body-s *, p, ul:not(.root), ol:not(.root), div, .body, .body * {
      font-size: 1.125rem; } }

.block-form .form-item label, .card__body, .card__body > *:not(.root), .main-footer .block-basic, .main-footer .block-basic *, .body-s, .body-s * {
  font-size: 0.875rem;
  font-weight: 400; }
  @media only screen and (min-width: 992px) {
    .block-form .form-item label, .card__body, .card__body > *:not(.root), .main-footer .block-basic, .main-footer .block-basic *, .body-s, .body-s * {
      font-size: 1rem; } }

main a {
  color: #0B6546;
  font-weight: 800; }
  main a:hover, main a:active, main a:focus {
    color: #8ECD0F; }

strong, b {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800; }

.corner-s {
  border-radius: 1.25rem;
  overflow: hidden; }

.corner-m {
  border-radius: 1.875rem;
  overflow: hidden; }

.corner-l {
  border-radius: 3.75rem;
  overflow: hidden; }

.corner-bottom {
  border-radius: 0 0 1.875rem 1.875rem;
  overflow: hidden; }

body,
html {
  height: 100%;
  scroll-behavior: smooth; }

body {
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, nav[aria-label="breadcrumb"] {
  display: none; }

.section-padding {
  padding: 3.75rem 5vw 4.6875rem; }
  @media only screen and (min-width: 576px) {
    .section-padding {
      padding: 4.6875rem 10vw 5.625rem; } }
  @media only screen and (min-width: 768px) {
    .section-padding {
      padding: 4.6875rem 0 5.625rem; } }
  @media only screen and (min-width: 992px) {
    .section-padding {
      padding: 6.09375rem 0 6.5625rem; } }

.padding-header {
  padding-top: 5.25rem; }
  @media only screen and (min-width: 992px) {
    .padding-header {
      padding-top: 5.375rem !important; } }

section,
footer,
nav {
  background-color: #ffffff; }

ul {
  list-style: none;
  padding-left: 0; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: gray; }

input::placeholder,
textarea::placeholder {
  color: gray; }

input:active::-moz-placeholder, textarea:active::-moz-placeholder {
  color: gray; }

input:active::placeholder,
textarea:active::placeholder {
  color: gray; }

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield; }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
            appearance: none;
    margin: 0; }

button {
  background: none;
  border: none;
  text-decoration: none;
  white-space: nowrap; }

@media only screen and (max-width: 767px) {
  .container {
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important; } }

*[class*="bg-alabaster"]:not(.root) {
  background-color: #F8F5F0; }

*[class*="bg-white"]:not(.root) {
  background-color: #ffffff; }

*[class*="bg-green"]:not(.root) {
  background-color: #0B6546; }

*[class*="bg-green-lt"]:not(.root) {
  background-color: #8ECD0F; }

*[class*="bg-black"]:not(.root) {
  background-color: #000000; }

*[class*="bg-blue-lt"]:not(.root) {
  background-color: #99C8FB; }

*[class*="bg-brown"]:not(.root) {
  background-color: #6B451E; }

*[class*="bg-orange"]:not(.root) {
  background-color: #EC733A; }

*[class*="bg-clean"]:not(.root) {
  background-color: transparent; }

*[class*="br-alabaster"]:not(.root) {
  border-color: #F8F5F0; }

*[class*="br-white"]:not(.root) {
  border-color: #ffffff; }

*[class*="br-green"]:not(.root) {
  border-color: #0B6546; }

*[class*="br-green-lt"]:not(.root) {
  border-color: #8ECD0F; }

*[class*="br-black"]:not(.root) {
  border-color: #000000; }

*[class*="br-blue-lt"]:not(.root) {
  border-color: #99C8FB; }

*[class*="br-brown"]:not(.root) {
  border-color: #6B451E; }

*[class*="br-orange"]:not(.root) {
  border-color: #EC733A; }

*[class*="br-clean"]:not(.root) {
  border-color: transparent; }

*[class*="co-alabaster"]:not(.root), *[class*="co-alabaster"]:not(.root) * {
  color: #F8F5F0; }

*[class*="co-white"]:not(.root), *[class*="co-white"]:not(.root) * {
  color: #ffffff; }

*[class*="co-green"]:not(.root), *[class*="co-green"]:not(.root) * {
  color: #0B6546; }

*[class*="co-green-lt"]:not(.root), *[class*="co-green-lt"]:not(.root) * {
  color: #8ECD0F; }

*[class*="co-black"]:not(.root), *[class*="co-black"]:not(.root) * {
  color: #000000; }

*[class*="co-blue-lt"]:not(.root), *[class*="co-blue-lt"]:not(.root) * {
  color: #99C8FB; }

*[class*="co-brown"]:not(.root), *[class*="co-brown"]:not(.root) * {
  color: #6B451E; }

*[class*="co-orange"]:not(.root), *[class*="co-orange"]:not(.root) * {
  color: #EC733A; }

*[class*="co-clean"]:not(.root), *[class*="co-clean"]:not(.root) * {
  color: transparent; }

.carousel-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 3%;
  pointer-events: none;
  width: 100%; }
  @media only screen and (min-width: 992px) {
    .carousel-arrows {
      padding: 0 0.9375rem; } }
  @media only screen and (min-width: 1470px) {
    .carousel-arrows {
      padding: 0 0.9375rem !important; } }
  .carousel-arrows__arrow {
    height: 1.25rem;
    max-height: 1.25rem;
    max-width: 1.875rem;
    min-height: 1.25rem;
    min-width: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
    fill: #0B6546;
    filter: drop-shadow(0.09375rem 0.15625rem 0 #ffffff);
    pointer-events: all; }
    @media only screen and (min-width: 576px) {
      .carousel-arrows__arrow {
        height: 2.375rem;
        max-height: 2.375rem;
        max-width: 2.8125rem;
        min-height: 2.375rem;
        min-width: 2.8125rem;
        width: 2.8125rem; } }
    @media only screen and (min-width: 992px) {
      .carousel-arrows__arrow {
        height: 2.375rem;
        max-height: 2.375rem;
        max-width: 3.625rem;
        min-height: 2.375rem;
        min-width: 3.625rem;
        width: 3.625rem; } }
  @media only screen and (min-width: 1470px) {
    .carousel-arrows__prev {
      transform: translateX(-100%); } }
  @media only screen and (min-width: 1470px) {
    .carousel-arrows__next {
      transform: translateX(100%); } }
  .carousel-arrows .slick-disabled {
    cursor: default;
    opacity: 0; }
    .carousel-arrows .slick-disabled, .carousel-arrows .slick-disabled * {
      pointer-events: none; }

body .button-secondary, body .button-header, body .block-form .webform-button--submit, .block-form body .webform-button--submit, body .button-primary {
  background-color: #EC733A;
  border: 2px solid #EC733A;
  border-radius: 3.125rem;
  color: #ffffff;
  display: block;
  padding: 0.75rem 3.125rem;
  transition: all .32s ease-in-out; }
  @media only screen and (min-width: 768px) {
    body .button-secondary, body .button-header, body .block-form .webform-button--submit, .block-form body .webform-button--submit, body .button-primary {
      display: inline-block; } }
  body .button-secondary:hover, body .button-header:hover, body .block-form .webform-button--submit:hover, .block-form body .webform-button--submit:hover, body .button-secondary:active, body .button-header:active, body .block-form .webform-button--submit:active, .block-form body .webform-button--submit:active, body .button-secondary:focus, body .button-header:focus, body .block-form .webform-button--submit:focus, .block-form body .webform-button--submit:focus, body .button-primary:hover, body .button-primary:active, body .button-primary:focus {
    background-color: #99C8FB;
    border-color: #99C8FB;
    color: #ffffff; }

body .button-secondary {
  background-color: #8ECD0F;
  border-color: #8ECD0F; }

body .button-tertiary {
  color: #0B6546; }
  body .button-tertiary:hover, body .button-tertiary:active, body .button-tertiary:focus {
    color: #8ECD0F; }
  body .button-tertiary::after {
    content: ' >>';
    display: inline; }

body .button-header {
  align-items: center;
  border-color: #8ECD0F;
  display: flex;
  margin: 0 0.9375rem;
  padding: 0.1875rem 1.875rem; }
  body .button-header:hover, body .button-header:active, body .button-header:focus {
    background-color: #EC733A;
    border-color: #EC733A; }
  body .button-header a {
    background-color: transparent !important;
    color: #ffffff !important;
    font-size: 1.0625rem;
    font-weight: 600; }
    @media only screen and (min-width: 1470px) {
      body .button-header a {
        font-size: 1.15625rem; } }
  body .button-header span {
    display: block;
    background-image: url(../img-dist/2b15001f153a35e16fb03a2e64b7325c.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    text-indent: -999999px;
    overflow: hidden;
    height: 1.5625rem;
    width: 1.5625rem; }

.carousel-dots .slick-dots {
  left: 0;
  padding: 0.9375rem 0 0;
  text-align: center; }
  .carousel-dots .slick-dots li {
    bottom: -1.875rem;
    display: inline-block; }
    .carousel-dots .slick-dots li button {
      background-color: rgba(11, 101, 70, 0.4);
      border: none;
      border-radius: 50%;
      font-size: 0;
      height: 12px;
      margin: 0;
      width: 12px; }
      .carousel-dots .slick-dots li button::before {
        content: ""; }
    .carousel-dots .slick-dots li.slick-active button {
      background-color: #0B6546; }

input[type="file"] {
  cursor: pointer;
  display: flex;
  height: 4.6875rem;
  justify-content: center;
  width: 100%; }
  input[type="file"]:hover::before, input[type="file"]:active::before, input[type="file"]:focus::before {
    background-color: #ffffff;
    border-color: #0B6546;
    color: #0B6546; }
  input[type="file"]:focus {
    outline: none; }
  input[type="file"]::-webkit-file-upload-button {
    display: none; }
  input[type="file"]::before {
    background-color: #8ECD0F;
    color: #ffffff;
    content: 'Subir Archivo';
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 100%;
    padding-top: 1.875rem;
    text-align: center;
    transition: all 0.3s ease-in; }
  input[type="file"]:focus::before {
    outline: none; }

.js-form-file.form-file.glb-form-element {
  border: none !important;
  box-shadow: 0 0 !important;
  padding: 0 !important; }
  .js-form-file.form-file.glb-form-element::before {
    background-color: #0B6546 !important;
    border-radius: 0.5625rem !important;
    color: #ffffff !important;
    max-width: 21.875rem; }
  .js-form-file.form-file.glb-form-element:hover::before, .js-form-file.form-file.glb-form-element:active::before, .js-form-file.form-file.glb-form-element:focus::before {
    background-color: #8ECD0F !important;
    color: #ffffff !important; }

.block-form form > * {
  padding: 0 1.875rem 0.9375rem; }
  @media only screen and (max-width: 767px) {
    .block-form form > * {
      padding-left: 0;
      padding-right: 0; } }

.block-form .form-item {
  justify-content: space-between;
  margin: 0; }
  @media only screen and (max-width: 767px) {
    .block-form .form-item {
      padding-left: 0;
      padding-right: 0; } }
  .block-form .form-item label {
    color: #0B6546;
    font-weight: 800;
    margin-bottom: 0.46875rem;
    margin-left: 1.875rem; }

input[type="file"]::before, .block-form .form-control {
  border: 2px solid #0B6546;
  border-radius: 3.75rem;
  font-size: 1.3125rem;
  min-height: 3.75rem;
  padding: 0.46875rem 1.875rem !important; }

.block-form .form-control.form-textarea {
  border-radius: 1.875rem;
  min-height: 13.125rem; }

.block-form .form-item.form-item-terms {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0.9375rem 0;
  padding-bottom: 0; }
  @media only screen and (max-width: 991px) {
    .block-form .form-item.form-item-terms {
      padding-top: 3.75rem; } }
  .block-form .form-item.form-item-terms label {
    color: #000000;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 0.9375rem; }
    .block-form .form-item.form-item-terms label a {
      color: #000000;
      font-weight: 700; }
  .block-form .form-item.form-item-terms input {
    border: 3px solid #0B6546;
    border-radius: 0;
    margin: 0;
    transition: all 0.3s ease-in;
    height: 2em;
    max-height: 2em;
    max-width: 2em;
    min-height: 2em;
    min-width: 2em;
    width: 2em; }
    .block-form .form-item.form-item-terms input:checked {
      background-color: #0B6546; }

.block-form .form-tel {
  padding-left: 4.21875rem !important; }

.intro-text {
  margin-bottom: 3.875rem;
  text-align: center; }

.link {
  display: inline-block; }

.logo__link img {
  transition: all 0.1s ease;
  -o-object-fit: contain;
     object-fit: contain; }

.pagination {
  gap: 0.46875rem;
  margin-bottom: -2.8125rem; }
  .pagination .page-item > a,
  .pagination .page-item > span {
    align-items: center;
    border: none;
    border-radius: 50% !important;
    color: #0B6546;
    display: flex;
    font-weight: 700;
    height: 2.5rem;
    justify-content: center;
    line-height: 1;
    width: 2.5rem;
    font-size: 1.375rem; }
    .pagination .page-item > a span,
    .pagination .page-item > span span {
      font-weight: 600; }
    .pagination .page-item > a:hover, .pagination .page-item > a:active, .pagination .page-item > a:focus,
    .pagination .page-item > span:hover,
    .pagination .page-item > span:active,
    .pagination .page-item > span:focus {
      background-color: #0B6546;
      color: #ffffff; }
  .pagination .page-item.active > a,
  .pagination .page-item.active > span {
    background-color: #0B6546;
    color: #ffffff; }
    .pagination .page-item.active > a:hover,
    .pagination .page-item.active > span:hover {
      border-color: #0B6546; }
  .pagination li[class*="pager__item"] > a,
  .pagination li[class*="pager__item"] > span {
    border-radius: 1.25rem !important;
    width: initial; }
  .pagination .pager__item--first span {
    display: none; }
  .pagination .pager__item--first a::after {
    content: "Primero"; }
  .pagination .pager__item--previous span {
    display: none; }
  .pagination .pager__item--previous a::after {
    content: "Anterior"; }
  .pagination .pager__item--next span {
    display: none; }
  .pagination .pager__item--next a::after {
    content: "Siguiente"; }
  .pagination .pager__item--last span {
    display: none; }
  .pagination .pager__item--last a::after {
    content: "Final"; }

.progress-scroll__bar {
  transition: all .32s ease-in-out;
  width: 0; }

.region-header-search .search-form {
  display: flex;
  border-bottom: 2px solid #F8F5F0;
  margin-bottom: 0.9375rem; }
  .region-header-search .search-form .search-form__component {
    flex-direction: row; }
  .region-header-search .search-form input {
    background-color: transparent;
    border: 0 solid transparent; }
  .region-header-search .search-form__icon {
    color: #F8F5F0;
    font-size: 26px; }

html {
  overflow-y: auto; }
  html::-webkit-scrollbar {
    width: 0.9375rem;
    background-color: #F8F5F0; }
  html::-webkit-scrollbar-thumb {
    background-color: #EC733A; }

.social-media__content-button {
  gap: 1.875rem; }

.social-media__link img {
  height: 3.125rem;
  max-height: 3.125rem;
  max-width: 3.125rem;
  min-height: 3.125rem;
  min-width: 3.125rem;
  width: 3.125rem;
  transition: all 0.1s ease;
  -o-object-fit: contain;
     object-fit: contain; }

.social-media__link:hover img, .social-media__link:active img, .social-media__link:focus img {
  scale: 110%; }

.type {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 800;
  padding: 0.28125rem 0.9375rem;
  border-radius: 0.9375rem; }
  .type-news--term-1 {
    background-color: #EC733A; }
  .type-news--term-3 {
    background-color: #0B6546; }
  .type-news--term-2 {
    background-color: #8ECD0F; }
  .type-project--term-13 {
    background-color: #8ECD0F; }
  .type-project--term-14 {
    background-color: #6B451E; }

.article {
  margin-top: 3.75rem;
  margin-bottom: 6.5625rem !important; }
  .article__title:not(.root), .article__title *:not(.root) {
    text-wrap: initial; }
  .article__image {
    aspect-ratio: 0.92308; }
    .article__image img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    @media only screen and (min-width: 576px) {
      .article__image {
        aspect-ratio: 1.33333; }
        .article__image img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
             object-fit: cover; } }
    @media only screen and (min-width: 992px) {
      .article__image {
        aspect-ratio: 1.71429; }
        .article__image img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
             object-fit: cover; } }
  .article__social-sharing .social-sharing-buttons {
    justify-content: flex-start;
    gap: 0.3125rem;
    margin: 0.46875rem 0 1.875rem; }
    .article__social-sharing .social-sharing-buttons > *, .article__social-sharing .social-sharing-buttons > * * {
      height: 2.25rem;
      max-height: 2.25rem;
      max-width: 2.25rem;
      min-height: 2.25rem;
      min-width: 2.25rem;
      width: 2.25rem; }
      .article__social-sharing .social-sharing-buttons > * svg, .article__social-sharing .social-sharing-buttons > * * svg {
        border: none;
        border-color: #0B6546;
        fill: #0B6546; }
    .article__social-sharing .social-sharing-buttons .share-x svg {
      border: 5px solid transparent !important;
      height: 1.875rem !important; }
  @media only screen and (min-width: 992px) {
    .article__text {
      max-width: 50rem; } }
  .article__content-cards .view-content {
    display: flex;
    flex-wrap: wrap; }
    .article__content-cards .view-content .views-row {
      flex: 1 0 100%; }
      @media only screen and (min-width: 576px) {
        .article__content-cards .view-content .views-row {
          flex: 0 1 50%; } }
      @media only screen and (min-width: 992px) {
        .article__content-cards .view-content .views-row {
          flex: 1 0 100%; } }

.banner-50__image img {
  -o-object-fit: cover;
     object-fit: cover; }

.banner-50__content {
  padding: 3.75rem 1.875rem; }
  @media only screen and (min-width: 576px) {
    .banner-50__content {
      padding: 3.75rem; } }
  @media only screen and (min-width: 992px) {
    .banner-50__content {
      padding: 3.75rem !important;
      padding-left: 5.625rem !important; } }

.banner-full-height {
  border: 3px solid red; }
  .banner-full-height__image {
    border: 3px solid blue; }
  .banner-full-height__title {
    border: 3px solid green; }

.banner-full {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  height: 25rem;
  margin: 0;
  margin-bottom: -1.875rem;
  width: 100%;
  z-index: 999; }
  @media only screen and (min-width: 576px) {
    .banner-full {
      height: 28.125rem; } }
  @media only screen and (min-width: 576px) {
    .banner-full .container {
      padding: 0 !important; } }
  .banner-full__title h2 {
    text-wrap: balance;
    max-width: 43.75rem; }

.banner-parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 7.5rem 0; }
  .banner-parallax__content {
    padding: 0 0.9375rem;
    padding-top: 13.125rem; }
    @media only screen and (min-width: 768px) {
      .banner-parallax__content {
        padding: 0; } }
  .banner-parallax__body > * {
    margin-bottom: 1.875rem;
    text-align: center; }

.block-filter {
  padding: 3.75rem 0 7.5rem; }
  .block-filter h2 {
    margin: 0; }
  .block-filter .form {
    padding: 0 !important; }
  .block-filter .clearfix {
    margin-bottom: 1.875rem; }
    @media only screen and (min-width: 576px) {
      .block-filter .clearfix {
        display: flex; } }
  .block-filter .form-item-tid {
    min-width: 100%; }
    @media only screen and (min-width: 576px) {
      .block-filter .form-item-tid {
        min-width: initial; } }
    .block-filter .form-item-tid label {
      display: none; }
  .block-filter .form-select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url(../img-dist/11d8c45e262190d418160ce3596b8170.svg);
    background-position: right 0.9375rem center;
    background-repeat: no-repeat;
    border: 2px solid #0B6546;
    border-radius: 3.125rem;
    color: #0B6546;
    min-width: 100%;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem; }
    .block-filter .form-select option {
      color: #0B6546; }
  .block-filter .form-wrapper input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #0B6546;
    border: 2px solid #0B6546;
    border-radius: 3.125rem;
    color: #ffffff;
    min-width: 100%;
    padding: 0.75rem 1.875rem; }
    .block-filter .form-wrapper input:hover, .block-filter .form-wrapper input:active, .block-filter .form-wrapper input:focus {
      background-color: #8ECD0F;
      border-color: #8ECD0F; }
  .block-filter .view-content {
    display: flex;
    flex-wrap: wrap; }
  .block-filter .views-row {
    flex: 0 1 100%; }
    @media only screen and (min-width: 768px) {
      .block-filter .views-row {
        flex: 0 1 50%; } }
    @media only screen and (min-width: 992px) {
      .block-filter .views-row {
        flex: 0 1 33%; } }
    @media only screen and (min-width: 1470px) {
      .block-filter .views-row {
        flex: 0 1 25%; } }
    @media only screen and (min-width: 768px) {
      .block-filter .views-row .teaser-card {
        padding-right: 1.875rem !important; } }
    .block-filter .views-row .teaser-card__image {
      aspect-ratio: 1.06667; }
      .block-filter .views-row .teaser-card__image img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    @media only screen and (min-width: 576px) {
      .block-filter .views-row:first-child {
        flex: 0 1 100%; } }
    .block-filter .views-row:first-child .teaser-card {
      max-width: 100%; }
      @media only screen and (min-width: 992px) {
        .block-filter .views-row:first-child .teaser-card .node__content {
          display: flex; } }
      @media only screen and (min-width: 768px) {
        .block-filter .views-row:first-child .teaser-card__image {
          aspect-ratio: 1.6; }
          .block-filter .views-row:first-child .teaser-card__image img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover; } }
      @media only screen and (min-width: 992px) {
        .block-filter .views-row:first-child .teaser-card__image {
          aspect-ratio: 2.28571; }
          .block-filter .views-row:first-child .teaser-card__image img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover; } }
      @media only screen and (min-width: 992px) {
        .block-filter .views-row:first-child .teaser-card__content {
          align-items: flex-start;
          display: flex;
          flex: 0 1 21.875rem;
          flex-direction: column;
          justify-content: flex-end;
          padding: 4.6875rem 1.875rem; } }

.block-form {
  margin-top: -3.75rem;
  padding-bottom: 5.625rem; }
  .block-form .iti--allow-dropdown {
    display: block;
    width: 100%; }
  .block-form .iti__flag-container {
    margin-left: 0.9375rem; }
  .block-form .webform-button--submit {
    min-width: 100%;
    margin: 0.9375rem; }
  @media only screen and (min-width: 992px) {
    .block-form #ajax-wrapper {
      flex: 0 0 auto;
      width: 50%; } }
  .block-form .webform-element-help {
    background-color: #8ECD0F;
    color: #ffffff;
    border-color: #0B6546; }
    .block-form .webform-element-help--title, .block-form .webform-element-help--content {
      color: white; }

.block-video .block-video__wrapper {
  position: relative;
  border: 0.625rem solid #000000;
  aspect-ratio: 1.33333; }
  .block-video .block-video__wrapper > :first-child {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media only screen and (min-width: 768px) {
    .block-video .block-video__wrapper {
      aspect-ratio: 1.66667; }
      .block-video .block-video__wrapper > :first-child {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; } }
  @media only screen and (min-width: 992px) {
    .block-video .block-video__wrapper {
      aspect-ratio: 2; }
      .block-video .block-video__wrapper > :first-child {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; } }
  .block-video .block-video__wrapper video, .block-video .block-video__wrapper iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%; }

.contact-layout {
  background-color: #F8F5F0;
  padding: 1.875rem 0; }
  @media only screen and (min-width: 992px) {
    .contact-layout {
      padding: 5rem 0; } }
  .contact-layout__intro {
    padding-bottom: 1.875rem;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .contact-layout__intro {
        padding-bottom: 5rem; } }
    .contact-layout__intro a {
      color: #EC733A; }
  .contact-layout__title {
    margin-bottom: 1.25rem; }
    @media only screen and (min-width: 992px) {
      .contact-layout__title {
        margin-bottom: 1.875rem; } }
  .contact-layout__image {
    aspect-ratio: 1;
    margin-bottom: 1.25rem;
    width: 100%; }
    .contact-layout__image > :first-child {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    @media only screen and (min-width: 992px) {
      .contact-layout__image {
        margin-bottom: 1.875rem; } }
    .contact-layout__image img {
      border-radius: 2.5rem;
      width: 100%; }
  .contact-layout__item {
    margin-bottom: 2.5rem; }
    .contact-layout__item a {
      color: #EC733A; }
    .contact-layout__item > div {
      align-items: center;
      display: flex;
      gap: 1.25rem; }
      .contact-layout__item > div:before {
        content: '';
        display: block;
        height: 2.3125rem;
        width: 2.3125rem; }
  .contact-layout__phone:before {
    background-image: url(../img-dist/792a27897428bfe8c2d47c279af3885d.png); }
  .contact-layout__mail:before {
    background-image: url(../img-dist/da4c74606d7f651809a385c6c3dd3207.png); }
  .contact-layout__location:before {
    background-image: url(../img-dist/70f0d138d87215e60f1b56a8af616369.png); }

.documents-gallery {
  padding: 2.8125rem 0 1.875rem 0; }
  .documents-gallery-card__title h3 {
    font-size: 1.5625rem !important;
    text-wrap: wrap; }
  .documents-gallery__cta, .documents-gallery__cta * {
    color: #0B6546;
    font-size: 1.0625rem;
    font-weight: 600; }

.gallery-carousel__subtitle * {
  max-width: 62.5rem;
  text-align: center; }

.gallery-carousel .field__label {
  display: none; }

.block-image {
  background-color: #ffffff;
  margin: 1.875rem 0; }
  .block-image__image {
    margin: 0 auto;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .block-image__image {
        width: 90%; } }
    .block-image__image img {
      display: block;
      height: 18.75rem;
      width: 100%; }
      @media only screen and (min-width: 768px) {
        .block-image__image img {
          height: auto; } }

.last-project, .last-news {
  padding-bottom: 0 !important; }
  .last-project .teaser-card, .last-project .teaser-card__content, .last-news .teaser-card, .last-news .teaser-card__content {
    margin-bottom: 0 !important; }
  .last-project .teaser-card__header, .last-news .teaser-card__header {
    margin: 0 !important; }
    .last-project .teaser-card__header *, .last-news .teaser-card__header * {
      font-size: 1.4375rem; }
  .last-project .teaser-card__link, .last-news .teaser-card__link {
    font-size: 1.125rem; }
  .last-project .view-content, .last-news .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .last-project .views-row, .last-news .views-row {
    flex: 0 1 100%;
    padding: 0 0.9375rem !important; }
    @media only screen and (min-width: 768px) {
      .last-project .views-row, .last-news .views-row {
        flex: 0 1 50%; } }
    @media only screen and (min-width: 992px) {
      .last-project .views-row, .last-news .views-row {
        flex: 0 1 25%; } }

.last-project + .block-basic, .last-news + .block-basic {
  padding-top: 3.75rem !important; }
  .last-project + .block-basic *, .last-news + .block-basic * {
    animation-name: none; }

.main-slider {
  background-color: transparent;
  margin-bottom: -1.875rem; }
  .main-slider__items {
    margin-bottom: 0 !important; }
  .main-slider__carousel-arrows {
    width: 100%;
    max-width: 15.625rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: initial;
    bottom: 5.625rem;
    padding: 0;
    z-index: 9997; }
    @media only screen and (min-width: 768px) {
      .main-slider__carousel-arrows {
        bottom: 8.0625rem;
        left: 7.5rem;
        max-width: 9.375rem; } }
    @media only screen and (min-width: 992px) {
      .main-slider__carousel-arrows {
        max-width: 11.25rem; } }
  .main-slider .carousel-arrows {
    width: 100%; }
    @media only screen and (min-width: 1470px) {
      .main-slider .carousel-arrows__prev {
        transform: initial; } }
    @media only screen and (min-width: 1470px) {
      .main-slider .carousel-arrows__next {
        transform: initial; } }
    .main-slider .carousel-arrows__arrow {
      fill: #ffffff;
      filter: drop-shadow(0.09375rem 0.15625rem 0 #000000); }
  .main-slider__carousel-dots .slick-dots {
    bottom: 4.6875rem; }
    .main-slider__carousel-dots .slick-dots li button {
      background-color: rgba(255, 255, 255, 0.4); }
    .main-slider__carousel-dots .slick-dots li.slick-active button {
      background-color: #ffffff; }
  .main-slider-social-media {
    display: none;
    position: absolute;
    bottom: 1.875rem;
    right: 3.75rem; }
    @media only screen and (min-width: 768px) {
      .main-slider-social-media {
        display: block; } }
    .main-slider-social-media__content-button {
      gap: 1.40625rem; }

.mosaic-icons {
  padding-bottom: 3.75rem; }
  @media only screen and (min-width: 992px) {
    .mosaic-icons__title {
      align-items: center;
      display: flex;
      flex-direction: column; }
      .mosaic-icons__title > * {
        max-width: 62.5rem; } }

.logos-carousel {
  padding-bottom: 4.6875rem;
  padding-top: 3.75rem; }
  .logos-carousel__carousel-dots .slick-dots li {
    bottom: -1.25rem; }

.slider-mini {
  padding-bottom: 4.21875rem;
  padding-top: 4.21875rem; }

.card {
  border: none !important; }
  .card, .card * {
    background-color: transparent !important; }
  .card__title, .card__title > *:not(.root) {
    font-weight: bold; }

.documents-gallery-card__image {
  aspect-ratio: 1; }
  .documents-gallery-card__image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.main-slider-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .main-slider-card__content {
    aspect-ratio: 16/20;
    padding: 1.40625rem;
    padding-bottom: 1.875rem; }
    @media only screen and (min-width: 768px) {
      .main-slider-card__content {
        aspect-ratio: 16/10;
        padding: 5.625rem;
        padding-bottom: 10.3125rem; } }
    @media only screen and (min-width: 992px) {
      .main-slider-card__content {
        aspect-ratio: 16/6; } }
    @media only screen and (min-width: 1470px) {
      .main-slider-card__content {
        aspect-ratio: initial;
        min-height: 43.75rem; } }
  .main-slider-card__title {
    text-wrap: balance;
    max-width: 37.5rem; }

.mosaic-icons-card__image {
  text-align: center; }
  .mosaic-icons-card__image img {
    max-width: 12.5rem; }

.mosaic-icons-card__title {
  text-align: center; }

.mosaic-icons-card__body, .mosaic-icons-card__body > *:not(.root) {
  text-align: center; }

.mosaic-icons-card__body ul {
  list-style: disc; }

.mosaic-icons-card--left-aligned * {
  text-align: left !important; }

.slider-mini-card__image {
  aspect-ratio: 1.25;
  width: 100%; }
  .slider-mini-card__image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media only screen and (min-width: 768px) {
    .slider-mini-card__image {
      aspect-ratio: 0.85714;
      max-width: 7.8125rem;
      min-width: 7.8125rem;
      width: 7.8125rem; }
      .slider-mini-card__image img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; } }

.slider-mini-card__title:not(.root), .slider-mini-card__title *:not(.root) {
  font-size: 1.25rem; }

.slider-mini-card__button, .slider-mini-card__button * {
  font-size: 0.9375rem; }

@media only screen and (min-width: 992px) {
  .teaser-card {
    max-width: 23.4375rem; } }

.teaser-card__header:not(.root), .teaser-card__header *:not(.root) {
  text-wrap: initial; }

.teaser-card__image {
  aspect-ratio: 1.45455;
  position: relative; }
  .teaser-card__image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.teaser-card__content-type {
  position: absolute;
  top: 1.40625rem;
  right: 1.40625rem; }

.main-footer {
  border-radius: 3.75rem 3.75rem 0 0;
  margin-top: -3.75rem !important;
  position: relative;
  text-align: center;
  z-index: 1; }
  .main-footer * {
    background-color: transparent; }
  .main-footer__left * {
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .main-footer__left * {
        text-align: left; } }
  .main-footer__left .logo__link img {
    margin: auto;
    width: 7.5rem; }
    @media only screen and (min-width: 992px) {
      .main-footer__left .logo__link img {
        width: 8.125rem; } }
  .main-footer__center .logo__link img {
    margin: auto;
    width: 15.625rem; }
    @media only screen and (min-width: 992px) {
      .main-footer__center .logo__link img {
        width: 21.875rem; } }
  .main-footer__right * {
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .main-footer__right * {
        text-align: right; } }
  .main-footer .nav-item {
    margin-bottom: 0.84375rem; }
  .main-footer .nav-link {
    font-weight: bold;
    display: inline;
    padding: 0;
    transition: all .32s ease-in-out; }
    .main-footer .nav-link:hover, .main-footer .nav-link:active, .main-footer .nav-link:focus {
      color: #8ECD0F; }
  .main-footer .block-basic, .main-footer .block-basic * {
    font-weight: bold;
    margin: 0;
    padding: 0; }

.main-header {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 8888; }
  .main-header .dropdown-item.active,
  .main-header .media-library-view--widget .view-header a.dropdown-item.is-active,
  .main-header .dropdown-item:active {
    background-color: #EC733A;
    color: #ffffff; }
  .main-header__nav {
    padding: 0 !important; }
    @media only screen and (min-width: 1470px) {
      .main-header__nav {
        margin: 0 1.875rem; } }
  .main-header .nav-link, .main-header .dropdown-item {
    font-weight: bold;
    color: #EC733A; }
  .main-header-mb {
    display: flex;
    justify-content: space-between;
    margin: 0 0.9375rem;
    width: 100%; }
    @media only screen and (min-width: 992px) {
      .main-header-mb {
        width: auto; } }
    .main-header-mb__branding {
      margin: 0; }
      .main-header-mb__branding div {
        margin: 0;
        padding: 0; }
        .main-header-mb__branding div .site-logo img {
          flex: 1 0 7.5rem;
          margin: 0;
          height: 5rem; }
    .main-header-mb .navbar-toggler {
      display: block;
      background-image: url(../img-dist/b5445b6c36d857c506921c84151f146a.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      font-size: 0;
      text-indent: -999999px;
      overflow: hidden;
      height: 3.125rem;
      width: 3.125rem; }
  .main-header__navbar {
    background-color: #F8F5F0;
    padding: 0 0 0 1.25rem;
    position: absolute;
    right: 0;
    top: 7vh;
    width: 15.625rem;
    z-index: 3000;
    margin: 0; }
    .main-header__navbar .nav-level-0 {
      justify-content: center !important; }
    @media only screen and (min-width: 992px) {
      .main-header__navbar {
        padding: 0;
        position: relative;
        top: 0; } }
    .main-header__navbar div {
      display: flex;
      width: 100%; }
      .main-header__navbar div nav {
        width: 100%;
        display: flex;
        justify-content: center; }
        .main-header__navbar div nav ul {
          background-color: #F8F5F0;
          width: 100%; }
          @media only screen and (min-width: 992px) {
            .main-header__navbar div nav ul {
              background-color: transparent; } }
        .main-header__navbar div nav li .nav-link {
          color: #EC733A; }
        @media only screen and (min-width: 992px) {
          .main-header__navbar div nav li {
            margin: 0 auto; } }
    .main-header__navbar .nav-item {
      color: #EC733A;
      font-size: 1.09375rem;
      margin: 0 0.9375rem !important; }
      @media only screen and (min-width: 1470px) {
        .main-header__navbar .nav-item {
          font-size: 1.15625rem; } }
      .main-header__navbar .nav-item a:hover {
        color: #EC733A; }
    .main-header__navbar .dropdown > a {
      color: #EC733A !important; }
    .main-header__navbar .dropdown ul {
      background-color: #F8F5F0;
      border: none;
      padding: 0;
      width: 13.75rem; }
      .main-header__navbar .dropdown ul a {
        white-space: pre-wrap; }
  .main-header__whatsapp2 {
    margin: 1.25rem 0 !important; }
    @media only screen and (min-width: 992px) {
      .main-header__whatsapp2 {
        display: none !important; } }
    .main-header__whatsapp2 .navbar-nav {
      background-color: transparent; }
    .main-header__whatsapp2 .nav-link {
      color: #ffffff !important; }
  .main-header .site-title {
    display: none; }
  .main-header--hidden {
    position: static; }
  .main-header--sticky {
    margin-top: initial;
    position: fixed; }

.menu--whatsapp {
  background-color: transparent; }

.navbar-nav .nav-link.active:not(.root) {
  color: #EC733A; }

.region.region-content {
  padding: 0; }

.user-logged-in * {
  animation-name: none !important; }

.user-logged-in .main-header {
  position: initial; }
  .user-logged-in .main-header, .user-logged-in .main-header * {
    z-index: initial; }

.user-logged-in .banner-full {
  margin-bottom: 0 !important;
  z-index: initial !important; }

.user-logged-in .loader {
  display: none !important; }

.user-logged-in .main-footer {
  margin-top: 0 !important;
  z-index: initial !important; }

*[class*="bg-"] .carousel-arrows__arrow {
  fill: #ffffff; }

*[class*="bg-alabaster"] .carousel-arrows__arrow {
  fill: #0B6546;
  filter: drop-shadow(0.09375rem 0.15625rem 0 #F8F5F0); }

*[class*="bg-white"] .carousel-arrows__arrow, *[class*="bg-clean"] .carousel-arrows__arrow {
  fill: #0B6546;
  filter: drop-shadow(0.09375rem 0.15625rem 0 #ffffff); }

*[class*="bg-green"] .carousel-arrows__arrow {
  filter: drop-shadow(0.09375rem 0.15625rem 0 #0B6546); }

*[class*="bg-green-lt"] .carousel-arrows__arrow {
  filter: drop-shadow(0.09375rem 0.15625rem 0 #8ECD0F); }

*[class*="bg-black"] .carousel-arrows__arrow {
  filter: drop-shadow(0.09375rem 0.15625rem 0 #000000); }

*[class*="bg-brown"] .carousel-arrows__arrow {
  filter: drop-shadow(0.09375rem 0.15625rem 0 #6B451E); }

*[class*="bg-orange"] .carousel-arrows__arrow {
  filter: drop-shadow(0.09375rem 0.15625rem 0 #EC733A); }

*[class*="bg-orange"]:not(.root) .button-primary {
  border: 2px solid #ffffff; }

*[class*="bg-orange"]:not(.root) .button-secondary:hover {
  color: #6B451E; }

*[class*="bg-orange"]:not(.root) .button-link:hover, *[class*="bg-orange"]:not(.root) .button-link:active, *[class*="bg-orange"]:not(.root) .button-link:focus {
  color: #6B451E; }

*[class*="bg-green"]:not(.root) .button-header:hover {
  border: 2px solid #ffffff; }

*[class*="bg-green-lt"]:not(.root) .button-primary:hover {
  border: 2px solid #ffffff; }

*[class*="bg-green-lt"]:not(.root) .button-primary--vr:hover, *[class*="bg-green-lt"]:not(.root) .button-primary--vr:active, *[class*="bg-green-lt"]:not(.root) .button-primary--vr:focus {
  border: 2px solid #ffffff; }

*[class*="bg-green-lt"]:not(.root) .button-header {
  border: 2px solid #ffffff; }

.banner-full + section, .main-slider + section, .layout__region--content > *:last-child {
  border-color: transparent; }

.banner-full + section, .main-slider + section {
  border-color: transparent;
  border-top-style: solid;
  border-top-width: 1.875rem; }

.layout__region--content > *:last-child {
  border-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 3.75rem; }

*[class*="bg-"] .carousel-dots .slick-dots button {
  background-color: rgba(255, 255, 255, 0.4); }

*[class*="bg-"] .carousel-dots .slick-dots .slick-active button {
  background-color: #ffffff; }

*[class*="bg-alabaster"] .carousel-dots .slick-dots button, *[class*="bg-white"] .carousel-dots .slick-dots button, *[class*="bg-clean"] .carousel-dots .slick-dots button {
  background-color: rgba(11, 101, 70, 0.4); }

*[class*="bg-alabaster"] .carousel-dots .slick-dots .slick-active button, *[class*="bg-white"] .carousel-dots .slick-dots .slick-active button, *[class*="bg-clean"] .carousel-dots .slick-dots .slick-active button {
  background-color: #0B6546; }

