@mixin imageBg($path, $height: null, $width: null) {
  background-image: url($path);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  font-size: 0;
  overflow: hidden;
  text-indent: -999999px;

  @if $height {
    height: $height;
  }

  @if $width {
    width: $width;
  }
}


@mixin bgCover($path) {
  background-image: url($path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
