.main-slider-card{
  @include background-cover;

  &__content {
    aspect-ratio: 16/20;
    padding: space(.75);
    padding-bottom: space(1);

    @include from(m){
      aspect-ratio: 16/10;
      padding: space(3);
      padding-bottom: space(5.5);
    }

    @include from(l){
      aspect-ratio: 16/6;
    }

    @include from(xl){
      aspect-ratio: initial;
      min-height: rem(700px);
    }
  }
  &__title {
    text-wrap: balance;
    max-width: rem(600px);
  }
}
