
.main-slider-card {
  position: relative;

  &__image {
    display: none;

    @include from(l) {
      display: block;
    }
  }

  &__content {
    @include bgCover('../img/fondo-texto.png');
    top: 0;
    justify-content: flex-start;
    align-items: center;

    @include from(xl) {
      justify-content: center;
    }
  }

  &__text {
    @include from(l) {
      max-width: rem(750px);
    }
  }

  &__image-icon {
    img{
      width: rem(100px);
    }
  }

  &__title {
    text-wrap: initial;
  }

  &__body {
    p {
      font-size: rem(20px);
    }
  }
}


