.mosaic-icons-card {
  $self: &;

  &__image {
    text-align: center;
    img{
      max-width: rem(200px);
    }
  }

  &__title {
    text-align: center;
  }

  &__body {
    &, & > *:not(.root) {
      text-align: center;
    }
    ul{
      list-style: disc;
    }
  }

  &--left-aligned {
    * {
      text-align: left !important;
    }
  }
}

