.slider-mini-card {
  &__image {
    @include fluid-aspect(15 16, 'img');
    width: rem(125px);

    @include from(m){
      width: rem(150px);
    }
  }


  &__title {
    &:not(.root), *:not(.root) {
      font-size: rem(20px);
    }
  }

  &__button {
    &, * {
      color: $cyan !important;
      font-size: rem(15px);
      transition: all .32s ease-in-out;

      &:hover, &:active, &:focus {
        color: $green !important;
      }
    }
  }

}
