body {
  %button-primary, .button-primary {
    @extend %button-text;
    background-color: $cyan !important;
    border: 1px solid $cyan !important;
    border-radius: rem(50px);
    color: $white !important;
    display: block;
    display: inline-flex;
    padding: rem(14px) rem(50px);
    transition: all .32s ease-in-out;

    &:hover, &:active, &:focus {
      background-color: $green !important;
      border-color: $green !important;
      color: $white !important;
    }
  }

  %button-secondary, .button-secondary {
    @extend %button-primary;
    align-items: center;
    background-color: $white !important;
    border-color: $green-lt !important;
    color: $green !important;
    display: inline-flex;
    gap: rem(8px);
    padding: rem(6px) rem(30px);
    text-decoration: underline !important;

    &::before {
      content: "";
      display: inline;
      transition: all .32s ease-in-out;
      @include imageBg('../img/icons/whatsapp.svg');
      @include square(rem(25px));
    }

    &:hover, &:active, &:focus {
      background-color: $green !important;
      border-color: $green !important;
      color: $white !important;

      &::before {
        @include imageBg('../img/icons/whatsapp-hover.svg');
      }
    }
  }


  %button-tertiary, .button-tertiary {
    @extend %button-text;
    color: $cyan;

    &:hover, &:active, &:focus {
      color: $green;
    }

    &::after {
      content: ' >>';
      display: inline;
    }
  }
}
