.carousel-dots {
  .slick-dots {
    left: 0;
    padding: rem(15px) 0 0;
    text-align: center;
    li {
      bottom: rem(-30px);
      display: inline-block;
      width: rem(27px) !important;
      margin: 0;

      button {
        background-color: rgba($black-dk, 0.4);
        border: none;
        border-radius: 50%;
        font-size: 0;
        height: rem(10px) !important;
        margin: 0;
        width: rem(15px) !important;

        &::before {
          content: "";
          width: 0;
        }
      }

      &.slick-active {
        button {
          background-color: $black-dk;
        }
      }
    }
  }
}
