input[type="file"] {
  cursor: pointer;
  display: flex;
  height: rem(75px);
  justify-content: center;
  width: 100%;

  &:hover, &:active, &:focus {
    &::before {
      background-color: $white;
      border-color: $green;
      color: $green;
    }
  }

  &:focus {
    outline: none;
  }

  &::-webkit-file-upload-button {
    display: none;
  }

  &::before {
    @extend %form-control;
    background-color: $green-lt;
    color: $white;
    content: 'Subir Archivo';
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 100%;
    padding-top: rem(30px);
    text-align: center;
    transition: all 0.3s ease-in;

  }


  &:focus::before {
    outline: none;
  }
}


//Files de drupal
.js-form-file.form-file.glb-form-element {
  border: none !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;

  &::before {
    background-color: $green !important;
    border-radius: rem(9px) !important;
    color: $white !important;
    max-width: rem(350px);
  }

  &:hover, &:active, &:focus {
    &::before {
      background-color: $green-lt !important;
      color: $white !important;
    }
  }
}
