.loader {
  @include square(100%);
  $self: &;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba($white, 0.8);
  display: none;
  flex-direction: column;
  gap: space(.75);
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in;
  z-index: 9999;

  &-active {
    overflow: hidden;
    padding-right: rem(15px);
  }

  &__icon {
    @include rectangle(rem(300px), rem(100px));
    margin-right: rem(24px);
  }

  &__img {
    @include square(rem(100px));
    background-image: none;
  }

  &__logotipo {
    @include rectangle(rem(200px), rem(100px));
    @extend %fade-in;
    background-image: none;
    position: relative;
  }

  &__text {
    @extend %h4;
    position: relative;
    padding-bottom: 15vh;
  }

  &__ellipsis {
    position: absolute;
    display: inline-block;
    top: 0;
    left: calc(100% + 1px);
  }

  &.active{
    display: flex;

    #{$self}__img {
      @include imageBg('../img/loading.gif');
    }

    #{$self}__logotipo {
      @include imageBg('../img/texto.png');
    }
  }
}

