.modal-images {
  &__dialog {
    overflow: hidden !important;
    @include square(100%);
    padding: space(1) space(.5);
  }

  &__content {
    border: 3px solid $white !important;
    border-radius: 0 !important;
    justify-content: center;
    max-height: 100%;
    overflow: hidden;

    @include from(l) {
      max-width: rem(1000px) !important;
    }

    @include from(xl) {
      max-width: rem(1400px) !important;
    }

  }

  &__header {
    overflow: hidden;
  }

  &__close {
    margin-right: 1px !important;
  }

  &__body {
    overflow: hidden;
    position: static !important;
  }

  &__wrapper {
    position: relative;
    transition: transform 0.5s ease;
  }

  &__image {
    @include square(100%);
    @include fluid-aspect(1 1, 'img');

    @include from(l) {
      @include fluid-aspect(16 9, 'img');
    }

    img {
      @include square(100%);
      object-fit: cover;
    }
  }

  &__carousel-arrows {
    padding: 0 !important;
    top: 50% !important;

    .carousel-arrows__prev, .carousel-arrows__next {
      background-color: $white;
      cursor: pointer;
      padding: space(.5);
      pointer-events: all;
      transform: translateX(0);
    }
  }
}
