.social-media {
  &__content-button {
    gap: space(1);
  }

  &__link{
    img{
      @include square(rem(50px));
      transition: all 0.1s ease;
      object-fit: contain;
    }

    &:hover,
    &:active,
    &:focus {
      img {
        scale: 110%;
      }
    }
  }
}
