.type {
  font-size: rem(16px);
  color: $white;
  font-weight: 500;
  padding: space(.15) space(.5);
  border-radius: rem(15px);

  &-article{
    &--term-1 {
      background-color: $cyan;
    }
    &--term-2 {
      background-color: $green;
    }
    &--term-3 {
      background-color: $black-dk;
    }
  }
}

