.carousel-arrows {
  @include center('vertical');
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0 3%;
  pointer-events: none;
  width: 100%;

  @include from(l) {
    padding: 0 space(.5);
  }
  @include from(xl) {
    padding: 0;}

  &__arrow {
    @include rectangle(rem(30px),rem(20px));
    cursor: pointer;
    fill: $green;
    filter: drop-shadow(rem(1.5px) rem(2.5px) 0 $white);
    pointer-events: all;

    @include from(s){
      @include rectangle(rem(45px),rem(38px));
    }

    @include from(l) {
      @include rectangle(rem(58px), rem(38px));
    }
  }

  &__prev {
    @include from(xl){
      transform: translateX(-100%);
    }
  }
  &__next {
    @include from(xl){
      transform: translateX(100%);
    }
  }

  .slick-disabled {
    cursor: default;
    opacity: 0;

    &, * {
      pointer-events: none;
    }
  }
}
