.region-header-search{
  .search-form {
    display: flex;
    border-bottom: 2px solid $alabaster;
    margin-bottom: space(.5);

    .search-form__component {
      flex-direction: row;
    }

    input {
      background-color: transparent;
      border: 0 solid transparent;
    }

    &__icon {
        color: $alabaster;
        font-size: 26px;

    }
  }
}



