$breakpoints-min: (
    's': 576px,
    'm': 768px,
    'l': 992px,
    'xl': 1470px,
);

$breakpoints-max: ('xs': map-get($breakpoints-min, 's') - 1px,
    's': map-get($breakpoints-min, 'm') - 1px,
    'm': map-get($breakpoints-min, 'l') - 1px,
    'l': map-get($breakpoints-min, 'xl') - 1px,
);

$container-max-widths: ('s': 540px,
    'm': 720px,
    'l': 960px,
    'xl': 1320px,
);
