html:not(.root) {
  font-size: 14px;
}

%h1, .h1:not(.root), .h1:not(.root) *, h1:not(.root) {
  color: $green;
  font-family: $font-primary;
  font-size: rem(40px);
  font-weight: 800;
  text-wrap: balance;

  @include from(l) {
    font-size: rem(48px);
  }
}

%h2, .h2:not(.root), .h2:not(.root) *, h2:not(.root) {
  @extend %h1;
  font-size: rem(31px);

  @include from(l) {
    font-size: rem(40px);
  }
}

%h3, .h3:not(.root), .h3:not(.root) *, h3:not(.root) {
  @extend %h2;
  font-size: rem(20px);
  @include from(l){
    font-size: rem(24px);
  }
}

%h4, .h4:not(.root), .h4:not(.root) *, h4:not(.root) {
  @extend %h3;
  font-size: rem(18px);
  @include from(l){
    font-size: rem(22px);
  }
}

%button-text, .button-text, .button-text * {
  @extend %h1;
  cursor: pointer;
  font-size: rem(18px);
  text-align: center;
  text-decoration: none;

  @include from(l){
    font-size: rem(20px);
  }
}

%body, .body, .body * {
  @extend %h2;
  color: $black;
  font-size: rem(16px);
  font-weight: 400;
  text-wrap: initial;
  @include from(l){
    font-size: rem(18px);
  }
}

%body-s, .body-s, .body-s * {
  @extend %body;
  font-size: rem(14px);
  font-weight: 400;
  @include from(l) {
    font-size: rem(16px);
  }
}

p, ul:not(.root), ol:not(.root), div {
  @extend %body;
}

main {
  a {
    color: $green;
    font-weight: 800;

    &:hover, &:active, &:focus {
      color: $green-lt;
    }

  }
}

strong, b {
  font-family: $font-primary;
  font-weight: 800;
}


%corner-s, .corner-s{
  border-radius: $corner-s;
  overflow: hidden;
}

%corner-m, .corner-m{
  border-radius: $corner-m;
  overflow: hidden;
}

%corner-l, .corner-l{
  border-radius: $corner-l;
  overflow: hidden;
}

%corner-bottom, .corner-bottom {
  border-radius: 0 0 $corner-m $corner-m;
  overflow: hidden;
}
