html:not(.root) {
  font-size: 12px;
}

%h1, .h1:not(.root), .h1:not(.root) *, h1:not(.root) {
  color: $black-dk;
  font-family: $font-primary;
  font-size: rem(40px);
  font-weight: bold;
  text-wrap: balance;

  @include from(l) {
    font-size: rem(48px);
  }

  @include from(xl) {
    font-size: rem(48px);
  }
}

%h2, .h2:not(.root), .h2:not(.root) *, h2:not(.root) {
  @extend %h1;
  font-size: rem(32px);

  @include from(l) {
    font-size: rem(40px);
  }
}

%h3, .h3:not(.root), .h3:not(.root) *, h3:not(.root) {
  @extend %h2;
  font-size: rem(24px);
  @include from(l){
    font-size: rem(32px);
  }
}

%h4, .h4:not(.root), .h4:not(.root) *, h4:not(.root) {
  @extend %h3;
  font-size: rem(20px);
  @include from(l){
    font-size: rem(24px);
  }
}

%button-text:not(.root), .button-text:not(.root), .button-text:not(.root) * {
  @extend %h1;
  cursor: pointer;
  font-size: rem(15px);
  text-align: center;
  text-decoration: none;

  @include from(l){
    font-size: rem(16px);
  }

  @include from(xl) {
    font-size: rem(20px);
  }
}

%body:not(.root), .body:not(.root), .body:not(.root) * {
  @extend %h2;
  color: $black-dk;
  font-size: rem(16px);
  font-weight: 400;
  text-wrap: initial;

  @include from(l){
    font-size: rem(18px);
  }

  @include from(xl) {
    font-size: rem(20px)
  }
}

%body-s:not(.root), .body-s:not(.root), .body-s:not(.root) * {
  @extend %body;
  font-size: rem(15px);
  font-weight: 400;
  @include from(l) {
    font-size: rem(16px);
  }
  @include from(xl) {
    font-size: rem(18.2px)
  }
}

p, ul:not(.root), ol:not(.root), div {
  @extend %body;
}

.text-balance {
  &, * {
    text-wrap: balance !important;
  }
}

main {
  a:not(.root) {
    color: $green;
    font-weight: bold;
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: $cyan;
    }

  }
}

strong:not(.root), b:not(.root) {
  font-family: $font-primary;
  font-weight: bold;
}


%corner-s, .corner-s{
  border-radius: $corner-s;
  overflow: hidden;
}

%corner-m, .corner-m{
  border-radius: $corner-m;
  overflow: hidden;
}

%corner-l, .corner-l{
  border-radius: $corner-l;
  overflow: hidden;
}

%corner-left-bottom, .corner-bottom {
  border-radius: 0 0 0 $corner-l;
  overflow: hidden;
}


