// Colors
$white: #ffffff;
$blue-dk: #0f1d31;
$black-dk: #1f2937;
$cyan: #27cec9;
$green: #6dbe51;
$green-lt: #8ecd0f;
$gray: #f9f9f9;
$degraded: linear-gradient(90deg, #a3d365 0%, #7ac356 54%, #27cec9 100%);
$degraded-vertical: linear-gradient(0deg, #a3d365 0%, #7ac356 54%, #27cec9 100%);


//Nombre de colores para variantes
$variant-color: (
  "white":$white,
  "blue-dk":$blue-dk,
  "black-dk":$black-dk,
  "cyan":$cyan,
  "green":$green,
  "green-lt":$green-lt,
  "gray":$gray,
  "clean":transparent,
);

// Fonts
$font-primary: "Montserrat", sans-serif;

// header utils
$header_height_m: 45px;
$header_height_l: 46.388px;

// corner
$corner-s: rem(20px);
$corner-m: rem(30px);
$corner-l: rem(60px);

