.user-logged-in {
  *{
    animation-name: none !important;
  }
  .main-header {
    &, &--hidden, &--sticky {
      margin-bottom: 0 !important;
      position: initial !important;

      &, & * {
        z-index: initial !important;
      }
    }
  }
  .banner-full {
    margin-bottom: 0 !important;
    z-index: initial !important;
  }
  .loader{
    display: none !important;
  }
  .main-footer{
    margin-top: 0 !important;
    z-index: initial !important;
  }

  .gin-tooltip, .messages--status, .glb-messages-list {
    &, & * {
      color: white !important;
    }
  }

  .glb-sidebar.layout-region {
    height: 100%;
  }
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
  width: 90vw !important;
  max-height: 85vh;


  @include from(l) {
    max-width: 1200px;
  }
}

.ui-button-icon.ui-icon.ui-icon-closethick {
  @include imageBg('../img/icons/icono_cerrar.svg');
}

.webform-terms-of-service-details.js-hide.ui-dialog-content.ui-widget-content {
  height: calc(85vh - 40px) !important;
  overflow-y: auto !important;
  margin: 0 !important;
  padding: space(1);

  @include from(l) {
    padding: space(1) space(2);
  }

}
