.user-logged-in {
  *{
    animation-name: none !important;
  }
  .main-header{
    position: initial;
    &, & * {
      z-index: initial;
    }
  }
  .banner-full {
    margin-bottom: 0 !important;
    z-index: initial !important;
  }
  .loader{
    display: none !important;
  }
  .main-footer{
    margin-top: 0 !important;
    z-index: initial !important;
  }
}
