*[class*="bg-"] {
  .carousel-arrows__arrow{
    fill: $white;
  }
}

*[class*="bg-clean"], *[class*="bg-white"], *[class*="bg-gray"]  {
  .carousel-arrows__arrow{
    fill: $black-dk;
  }
}

*[class*="bg-white"] {
  .carousel-arrows__arrow{
    filter: drop-shadow(rem(1.5px) rem(2.5px) 0 $white);
  }
}

*[class*="bg-gray"] {
  .carousel-arrows__arrow{
    filter: drop-shadow(rem(1.5px) rem(2.5px) 0 $gray);
  }
}

*[class*="bg-blue-dk"] {
  .carousel-arrows__arrow{
    filter: drop-shadow(rem(1.5px) rem(2.5px) 0 $blue-dk);
  }
}

*[class*="bg-black-dk"] {
  .carousel-arrows__arrow{
    filter: drop-shadow(rem(1.5px) rem(2.5px) 0 $black-dk);
  }
}

*[class*="bg-cyan"] {
  .carousel-arrows__arrow{
    filter: drop-shadow(rem(1.5px) rem(2.5px) 0 $cyan);
  }
}

*[class*="bg-green"] {
  .carousel-arrows__arrow{
    filter: drop-shadow(rem(1.5px) rem(2.5px) 0 $green);
  }
}

*[class*="bg-green-lt"] {
  .carousel-arrows__arrow{
    filter: drop-shadow(rem(1.5px) rem(2.5px) 0 $green-lt);
  }
}

