*[class*="bg-cyan"]:not(.root) {
  .button-primary {
    border: 1px solid $white !important;
  }
}

*[class*="bg-green"]:not(.root), *[class*="bg-green-lt"]:not(.root) {
  .button-primary {
    &:hover {
      border: 1px solid $white !important;
    }
  }

  .button-secondary {
    &:hover, &:active, &:focus {
      border: 1px solid $white !important;
    }
  }
}

